.contactMain__container {
  height: 100vh;
  width: calc(100% - 20vw);
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 0 60px 80px 60px;
}
.contactMain__container * {
  color: #000000;
}

/* FORM */

.form-control {
  border-width: 0 0 2px 0;
  border-color: #000000;
  border-style: solid;
  border-radius: 0;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.7em;
}
.contactMain__form-button,
.contactMain__form-button:hover {
  background-color: transparent;
  border-color: transparent;
}
.contactMain__form-button {
  width: 100%;
  padding: 0;
  margin-left: 10px;
}
.primary-button__line.contactMain,
.primary-button.contactMain {
  color: #000000;
}
.primary-button__line.contactMain {
  border: 1px solid #000000;
}
.primary-button.contactMain {
  border: 2px solid #000000;
}
.primary-button.contactMain:hover {
  background-color: #000000;
  color: #ffffff;
}
.primary-button__container.contactMain {
  margin-left: -85px;
  margin-top: 80px;
}

.contactMain > .btn-primary:active {
  background-color: transparent;
  border: transparent;
}
.contactMain > .btn-primary:focus {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .contactMain__container {
    width: calc(100% - 15vw);
    margin-left: 8vh;
    margin-right: 8vh;
    padding: 0 0 80px 60px;
  }
}
@media (max-width: 991px) {
  .contactMain.primary-button__line {
    display: none;
  }
  .contactMain.primary-button {
    margin-left: 75px;
  }
}
@media (max-width: 767px) {
  .contactMain.primary-button {
    margin-left: 75px;
  }
  .contactMain__container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 80px;
  }
}
