.contact__container {
  height: 100vh;
  position: relative;
}

.contact__container-background-image {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 70%;
  margin-top: 6vh;
}

.contactHome__container {
  height: 100vh;
  width: calc(100% - 20vw);
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 0 60px 80px 60px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
}
.contactHome__container * {
  color: var(--light);
}

.contact__image-squares {
  position: absolute;
  left: 7%;
  top: 30px;
}

/* FORM */

.form-control.name-input,
.form-control.email-input,
.form-control.textarea-input {
  border-width: 0 0 2px 0;
  border-color: var(--light);
  background-color: transparent;
  color: var(--light);
  border-style: solid;
  border-radius: 0;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.7em;
}
.form-control:focus {
  box-shadow: none;
}
.contactHome__form-button,
.contactHome__form-button:hover {
  background-color: transparent;
  border-color: transparent;
}
.contactHome__form-button {
  width: 100%;
  padding: 0;
  margin-left: 10px;
}
.primary-button__line.contactHome,
.primary-button.contactHome {
  color: var(--light);
}
.primary-button__line.contactHome {
  border: 1px solid var(--light);
}
.primary-button.contactHome {
  border: 2px solid var(--light);
}
.primary-button.contactHome:hover {
  background-color: var(--light);
  color: #000000;
}
.primary-button__container.contactHome {
  margin-left: -85px;
  margin-top: 80px;
}

.contactHome > .btn-primary:active {
  background-color: transparent;
  border: transparent;
}
.contactHome > .btn-primary:focus {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
}

/* FOOTER */
.contact__home-footer {
  /* position: absolute; */
  /* bottom: 0; */
  width: 100%;
  /* right: 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.contact__home-footer p {
  color: var(--light);
  margin-bottom: 0;
}
.contact__menu-footer-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: -10vw;
}
.contact__home-footer-container {
  width: calc(100% - 20vw);
  margin-left: 10vw;
  margin-right: 10vw;
  position: relative;
}
/* MEDIA QUERIES */


@media (min-width: 768px) and (max-width: 1199px) {
  .contactHome__container {
    width: calc(100% - 15vw);
    margin-left: 8vh;
    margin-right: 8vh;
    padding: 0 0 80px 60px;
  }
}
@media (max-width: 991px) {
  .contactHome.primary-button__line {
    display: none;
  }
  .contactHome.primary-button {
    margin-left: 75px;
  }
}
@media (max-width: 767px) {
  .contact__container-background-image {
    width: 180%;
    height: 100vh;
    margin-top: 10vh;
  }
  .contact__info {
    margin-left: 0;
    padding: 30px 30px;
  }
  .contact__home-footer {
    flex-direction: column;
    align-items: end;
    width: 100%;
  }
  .contact__home-footer p {
    margin-bottom: 10px;
  }
  .contactHome__container {
    padding: 40px 40px 80px 30px;
    margin-top: 50px;
  }
  .contactHome.primary-button {
    margin-left: 75px;
  }
  .contactHome__container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .contactHome__container h2 {
    font-size: 3.5rem;
  }
  .contactHome__container {
    height: -webkit-fill-available;
  }
  .contact__home-footer-container {
    width: 100%;
    margin-left:0;
    margin-right: 0;
  }
  .contact__menu-footer-icons {
    margin-right: 0;
  }

}
@media (min-width: 508px) and (max-width: 567px) {
  .contact__container-background-image {
    margin-top: 20vh;
  }
}
@media (max-width: 507px) {
  .contact__container-background-image {
    margin-top: 14vw;
  }
}
