.project__container {
    height:100vh;
    display: flex;
    justify-content: flex-end;
    /* background-color: #ffffff; */
}
.project__details-container {
    width: calc(100% - 100px);
    margin-left: 65px;
    /* margin-right: -65px; */
    padding: 20px 100px;
    /* color: #000000; */
    /* background-color: #ffffff; */
}
.project__details-section {
    margin-bottom: 40px;
}
.project__main-image {
    width: calc(100% - 65px);
    height: calc(100vh - 30px);
    padding-left:30px;
    margin-top: -150px;
    position: relative;
    filter: brightness(0.4);
    object-fit: cover;
}
.project__main-image-abstract {
    width: 14vw;
    position:absolute;
    top: 60px;
    left:130px;
}
.project__main-project-number {
    position:absolute;
    font-weight:700;
    font-size: 300px;
    opacity:0.25;
    left:80px;
    color: #ffffff;
}
.project__main-title {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    text-transform: capitalize;
    position:absolute;
    left: 130px;
}
.project__main-info {
    margin-bottom: -165px;
}
.project__tools-box {
    background-color: #000000;
    color: var(--light);
    padding: 80px 50px;
}
.project__tool-list {
    list-style-type: none;
    padding: 0;
    line-height: 2.5em;
}

/* STYLE GUIDE */

.project__style-guide-box {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(4, [col] 215px ) ;
    grid-template-rows: repeat(2, [row] auto  );
    background-color: #fff;
    color: #444;
  }

  .project__style-guide-box-desc {
    grid-column: col / span 2;
    grid-row: row ;
  }
  .project__style-guide-blank {
    grid-column: col 3 / span 2 ;
    grid-row: row ;
  }
  .project__style-guide-typo {
    grid-column: col / span 3 ;
    grid-row: row 2 ;
  }
  .project__style-guide-comp {
    grid-column: col 4 / span 1 ;
    grid-row: row 2 ;
  }
 
@media (max-width: 768px) {
    .project__main-image {
        width: 100%;
        padding-left: 0;
        margin-top: -150px;
    }
    .project__main-image-abstract {
        width: 120px;
        height: auto;
        top: 4vh;
        left:5vw;
    }
    .project__main-project-number {
        font-size: 300px;
        font-weight:700;
        opacity:0.25;
        left:-14px;
    }
    .project__main-title {
        font-size: 50px;
        left: 5vw;
    
    }
}