.projects__container {
    height:100vh;
    display: grid;
    align-content: flex-end;
    margin-top: -25vh;
    background: linear-gradient(to right, #000000 50%, #fff 50%);
}
.projects__hero-columns {
    margin-left: calc(2 * var(--bs-gutter-x));
    margin-right: calc(2 * var(--bs-gutter-x));
}
.projects__title {
    display:grid;
    justify-content: center;
    margin-bottom:50px;
    margin-left:50px;
}
.projects__title h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 12rem;
    color: #ffffff;
    margin-left:42px;
    margin-top: -115px;
    margin-bottom: -50px;
    /* padding-bottom:50px; */
    padding-right:50px;
    mix-blend-mode: difference;
}
.projects__corner-top {
    width: 100px;
    height:2px;
    background-color: #ffffff;
    mix-blend-mode: difference;
}
.projects__corner-left {
    width: 2px;
    height:100px;
    background-color: #ffffff;
    mix-blend-mode: difference;
}
.projects__corner-rContainer {
    display: grid;
    justify-content: flex-end;
}
.projects__corner-bottom {
    width: 100px;
    height:2px;
    background-color: #ffffff;
    mix-blend-mode: difference;
}
.projects__corner-right {
    width: 2px;
    height:100px;
    margin-left:98px;
    background-color: #ffffff;
    mix-blend-mode: difference;
}
.projects__overview {
    mix-blend-mode: difference;
}

@media (max-width: 991px) {
    .projects__title h1 {
        font-size:9rem;
    }
}
@media (min-width: 768px) and (max-width: 990px) {
    .projects__title {
        margin-bottom:0;
    }
}
@media (max-width: 767px) {
    .projects__container {
        background: linear-gradient(to bottom, #000000 50%, #fff 50%);
    }
    .projects__title {
        margin-bottom: 22px;
        margin-left:0;
    }
}
@media (min-width: 575px) and (max-width: 691px) {
    .projects__title h1 {
        font-size: 6rem;
        margin-top: -60px;
    }
    .projects__title {
        margin-bottom: 90px;
    }
}
@media (max-width: 574px) {
    .projects__title h1 {
        font-size: 6rem;
        margin-top: -60px;
    }
    .projects__title {
        margin-bottom: 50px;
    }
}
