.projects__container {
    margin-left:65px;
    margin-right:-65px;
}
.projects__header-container {
    height:100vh;
    display: grid;
    align-content: flex-end;
    margin-top: -25vh;
    background: linear-gradient(to right, #000000 50%, #fff 50%);
}
/* .projects__hero-columns { */
    /* margin-left: calc(2 * var(--bs-gutter-x));
    margin-right: calc(2 * var(--bs-gutter-x)); */
/* } */
/* TITLE */
.projects__title {
    display:grid;
    justify-content: center;
    margin-bottom:50px;
    margin-left:50px;
}
.projects__title h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 12rem;
    color: #ffffff;
    margin-left:42px;
    margin-top: -115px;
    margin-bottom: -50px;
    /* padding-bottom:50px; */
    padding-right:50px;
    mix-blend-mode: difference;
}

/* CORNER LINES */
.projects__corner-top {
    width: 100px;
    height:2px;
    background-color: #ffffff;
    mix-blend-mode: difference;
}
.projects__corner-left {
    width: 2px;
    height:100px;
    background-color: #ffffff;
    mix-blend-mode: difference;
}
.projects__corner-rContainer {
    display: grid;
    justify-content: flex-end;
}
.projects__corner-bottom {
    width: 100px;
    height:2px;
    background-color: #ffffff;
    mix-blend-mode: difference;
}
.projects__corner-right {
    width: 2px;
    height:100px;
    margin-left:98px;
    background-color: #ffffff;
    mix-blend-mode: difference;
}
/* OVERVIEW TEXT */
.projects__overview {
    mix-blend-mode: difference;
}

.projects__list-container {
    padding:70px;
}
.project__list-text {
    color: black;
    text-transform: capitalize;
}
/* SKILLS LIST */
li {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
} 
 li::before {
    width: 10px;
    height:10px;
    content: '';
    background-color: black;
    margin-right:15px; 
}
.projects__skills-container {
    margin-left:-30px;
    margin-top: 30px;
    
}
.projects__skills-list {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    column-width: 250px;
}

/* BUTTON */
.primary-button.dark-btn {
    color: black;
    border: 2px solid black;
}
.primary-button__line.dark-btn {
    color: black;
    border: 1px solid black;
}
.primary-button.dark-btn:hover {
    background-color: black;
}

/* IMAGE */
.project__image {
    height: 400px;
    width: 600px;
    object-fit: cover;

}
.project__image-container {
    position:relative;
}
.project__number {
    color: #ffffff;
    position:absolute;
    bottom:-35px;
    left:-5px;
    font-size: 6em;
}
/* MEDIA QUERIES */
@media (max-width: 991px) {
    .projects__title h1 {
        font-size:9rem;
    }
}
@media (min-width: 768px) and (max-width: 990px) {
    .projects__title {
        margin-bottom:0;
    }
}
@media (max-width: 767px) {
    .projects__container {
        margin-left:0;
        margin-right:0;
    }
    .projects__header-container {
        background: linear-gradient(to bottom, #000000 50%, #fff 50%);
    }
    .projects__title {
        margin-bottom: 50px;
        margin-left:0;
    }
}
@media (min-width: 575px) and (max-width: 691px) {
    .projects__title h1 {
        font-size: 6rem;
        margin-top: -60px;
    }
    .projects__title {
        margin-bottom: 115px;
    }
}
@media (max-width: 574px) {
    .projects__title h1 {
        font-size: 6rem;
        margin-top: -60px;
    }
    .projects__title {
        margin-bottom: 85px;
    }
}
