.projects__container {
    height:100vh;
    display: flex;
    position: relative;
}
.projects__colorBackground {
    height: 100vh;
    width:50%;
    background-color: black;
    margin-top: -25vh;
}
.projects__title h1 {
    color: white;
    position: absolute;
    top: 20%;
    right: 20%;
    mix-blend-mode: difference;
}