.proProjects__container {
    /* height: 100vh; */
    padding: 100px 0 100px 100px;
    background-image: url(/public/images/abstract-grid-dots.png);
    background-repeat: no-repeat;
    background-size: 12vw;
    background-position: center left;
    display: flex;
    align-items: center;
    justify-content: end;
}
.proProjects__tabs {
    height: 120px;
}
.proProjects__tab-number {
    transform: rotate(-90deg);
    width: 70px;
    /* height: 100px; */
}
.proProjects__number {
    transform: rotate(-90deg);
}
.proProjects__project-container {
    position: relative;
}
.proProjects__image {
    height: 600px;
    width: 500px;
    /* object-fit: cover; */
    object-fit: none;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    padding: 20px 0 0 20px;
    /* margin-top: -100px; */
    z-index: 0;
}
.proProjects__img-title {
    margin-top: -120px;
}
.proProjects__img-title > h2 {
    z-index:10;
}
.proProjects__triangle {
    width: 0;
    height: 0;
    border-top: 130px solid white;
    border-right: 130px solid transparent;
    position: absolute;
    top: 0;
    z-index: 20;
}
@media (max-width:991px) {
    .proProjects__tab-info {
        display:none;
    }
    .proProjects__nav-item {
        display:flex;
        flex-direction: row;
        width: 100%;
        justify-content: end;
    }
    .proProjects__tab-number {
        width: 30px;
    }
    .proProjects__tab-number > h2 {
        font-size: 40px;
    }
    .proProjects__tab-container {
        margin: 90px;
    }
    .proProjects__inner-container {
        padding: 40px;
        /* display: flex;
        justify-content: center;
        align-content: center; */
    }
    .proProjects__image {
        width: 400px;
        height: 500px;
    }
    
}